body {
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
background-color: #1e2d45;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

.container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #385F71;
    border-radius: 10px;
}
    

.row {
    display: flex;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    margin: 5px;
    background-color: #1e2d45;
    font-size: 25px;
    cursor: pointer;
    border: 1px solid #385F71;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 #20003d9e;
    transition: 0.2s;
}

.screen {
    display: flex;
    align-items: center;
    height: 80px;
    width: 350px;
    border: 1px solid #385F71;
    border-radius: 5px;
    margin: 5px;
    
}

.screen-inside {
    display: flex;
    gap: 10px;
    padding: 15px;
    color: whitesmoke;
    font-size: 32px;
    text-shadow: 2px 2px 5px #20003d9e;
    margin-left: auto;
}

.number-btn, .decimal-btn {
    color: #D7B377;
}

.operator-btn {
    color: #b187f4;
}

.system-btn, .equal-btn {
    color: #c9695c;
}

#zero-btn {
    flex-grow: 2;
}

button:hover {
    transform: translateY(2px);
    background-color: rgb(35, 53, 82);
    border-bottom: 2px solid #385F71;
    box-shadow: 0 0 0 0;
}