body {
width: 100vw;
height: 100vh;
background-color: #2B4162;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;

}

button {
    height: 80px;
    width: 80px;
    cursor: pointer;
    background-color: #2B4162;
    margin: 5px;
    border: 1px solid #385F71;
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 0 5px 5px 0 #20003d9e;;
}

.screen {
    border: 1px solid #385F71;
}

.number-btn {
    color: #D7B377;
}

.operator-btn {
    color: #F487B6;
}